.dayContainer {
    margin-top: 3em;
    background-color: #87CEEB;
    border-radius: 1em;
    
    width: 30vw;
    min-width: 15em;
    max-width: 50em;
    cursor: grab;
    

    .flicking-camera {
        display: flex;
        justify-content: space-between;
        align-content: space-between;

        .forecast {
            
            display: flex;
            flex-direction: row;
            margin: 1em;
           justify-content: space-around;
            align-content: space-around;
            .daysOfWeek {
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                p {
                    color: #f5f5f7;
                    font-family: 'Open Sans', 'Helvetica Neue', 'HelveticaNeue-Light', "Helvetica Neue", Helvetica, Arial, sans-serif;
                    font-weight: lighter;
                }
            }
            .icons {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                pointer-events: none;
            }
            .temps {
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                p {
                    color: #f5f5f7;
                    font-family: 'Open Sans', 'Helvetica Neue', 'HelveticaNeue-Light', "Helvetica Neue", Helvetica, Arial, sans-serif;
                    font-weight: lighter;
                }
            }
           
        }

    }
}

.dayContainer:active {
    cursor: grabbing;
}

