html {
  
  overflow-y:scroll;
  height: 100vh;
}
html, body{
  min-height:100vh;
  padding: 0;
  margin: 0;
}
body {
  overflow: auto;
  margin: 0;
  padding: 0;
  height: 100vh;
  
  background-color: #94ddf9;
}

#root {
  margin: 0;
  padding: 0;
  overflow: auto;
}
