.dayForecastContainer {
    display: flex;
    flex-direction: row;
    width: 50em;
    justify-content: center;
    align-items: center;

    .flicking-camera {
   
 
            .dayForecastHour {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-right: 2em;

                img {
                    pointer-events: none;
                  }
        
                p {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #f5f5f7;
                    font-family: 'Helvetica Neue', 'HelveticaNeue-Light', "Helvetica Neue",  Helvetica, Arial, sans-serif;
                    font-weight: lighter;
                }
    
                .hour {
                    font-size: 1.5em;
                }
                .temp {
                    font-size: 1.2em
                }
            }
        }
    }



